{% extends "layout.html" %}
{% block title %}Signup{% endblock %}

{% block content %}
<!--fix gender drop down, add country and state drop downs-->
<form action="/signup" method="post">
    <input type="text" name="first_name" placeholder="First Name*">
    <input type="text" name="last_name" placeholder="Last Name*">
    <input type="text" name="email" placeholder="E-mail*">
    <input type="text" name="email_confirmation" placeholder="Verify E-mail*">
    <input type="date" id="birthday" name="birthday" placeholder="date of birth">
    <select name="gender">
        <option value="" disabled selected>Gender*</option>
        <option value="male">Male</option>
        <option value="femail">Female</option>
        <option value="na">Not Specified</option>
    </select>
    <input type="number" name="phone" placeholder="Contact Number*">
    <select name="country">
        <option value="United States" selected></option>
    </select>
    <input type="text" name="address" placeholder="Address*">
    <input type="text" name="city" placeholder="City*">
    <select id="state" name="state">
        <option value="AL">Alabama</option>
        <option value="AK">Alaska</option>
        <option value="AZ">Arizona</option>
        <option value="AR">Arkansas</option>
        <option value="CA">California</option>
        <option value="CO">Colorado</option>
        <option value="CT">Connecticut</option>
        <option value="DE">Delaware</option>
        <option value="FL">Florida</option>
        <option value="GA">Georgia</option>
        <option value="HI">Hawaii</option>
        <option value="ID">Idaho</option>
        <option value="IL">Illinois</option>
        <option value="IN">Indiana</option>
        <option value="IA">Iowa</option>
        <option value="KS">Kansas</option>
        <option value="KY">Kentucky</option>
        <option value="LA">Louisiana</option>
        <option value="ME">Maine</option>
        <option value="MD">Maryland</option>
        <option value="MA">Massachusetts</option>
        <option value="MI">Michigan</option>
        <option value="MN">Minnesota</option>
        <option value="MS">Mississippi</option>
        <option value="MO">Missouri</option>
        <option value="MT">Montana</option>
        <option value="NE">Nebraska</option>
        <option value="NV">Nevada</option>
        <option value="NH">New Hampshire</option>
        <option value="NJ">New Jersey</option>
        <option value="NM">New Mexico</option>
        <option value="NY">New York</option>
        <option value="NC">North Carolina</option>
        <option value="ND">North Dakota</option>
        <option value="OH">Ohio</option>
        <option value="OK">Oklahoma</option>
        <option value="OR">Oregon</option>
        <option value="PA">Pennsylvania</option>
        <option value="RI">Rhode Island</option>
        <option value="SC">South Carolina</option>
        <option value="SD">South Dakota</option>
        <option value="TN">Tennessee</option>
        <option value="TX">Texas</option>
        <option value="UT">Utah</option>
        <option value="VT">Vermont</option>
        <option value="VA">Virginia</option>
        <option value="WA">Washington</option>
        <option value="WV">West Virginia</option>
        <option value="WI">Wisconsin</option>
        <option value="WY">Wyoming</option>
    </select>    
    <input type="number" name="zip" placeholder="Zip Code*">
    <input type="text" name="emergency_contact_name" placeholder="Emergency Contact*">
    <input type="number" name="emergency_contact_number" placeholder="Emergency Conact Number*">
    <input type="text" name="username" placeholder="Username*">
    <input type="text" name="password" placeholder="Password*">
    <input type="text" name="password_confirmation" placeholder="Confirm Password*">
    <input type="submit" value="submit">
</form>
{% endblock %}